.App {
    text-align: center;
}

* {
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.lineup {
    min-height: 150vh;
    display: none;
    font-size: smaller;
}

.tables {
    width: 120vw;
    padding: auto;
}

.full {
    display: inline;
}

@media (max-width: 900px) {
    .tables {
        display: inline;
        max-width: 100vw;
        min-width: 100vw;
        max-height: 100%;
    }
    .lineup {
        display: inline;
    }
    .full {
        display: none;
    }
}

.lineup,
th,
td {
    text-align: left;
    border-bottom: solid black;
    min-height: 20vh;
}

.lineup tr {
    height: 5vh;
}

.lineup,
tr:nth-child(even) {
    background-color: darkgray;
}

.lineup,
tr:nth-child(odd) {
    background-color: gray;
}

.lineup,
td:last-child {
    border-right: none;
}

.lineup td:nth-child(2) {
    border-right: solid black;
}

.full td:nth-child(3) {
    border-right: solid black;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

caption {
    width: 100%;
}

.score {
    flex: 1vw;
}

.total {
    display: flex;
    margin: auto;
    width: 100%;
}

.inner {
    width: 100%;
    text-align: center;
}

table {
    border: none;
    border-collapse: collapse;
    border-radius: 20px;
    max-width: 100vw;
}

td {
    padding: 2vw;
}

.boxscore {
    max-width: 40vw;
}

.boxheader {
    font-size: large;
    margin: auto;
    padding: auto;
}

.teamName {
    text-align: left;
    min-width: 25vw;
}

.row {
    display: flex;
}

.column {
    flex: 100%;
    max-width: 100vw;
}